body {
    font-family: "Microsoft JhengHei", "Arial", sans-serif;  /* 設定為支持繁體中文的字型 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a786a;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    margin: 2rem auto;
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #1a786a;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #34a892;
}

.chart-container {
    margin-top: 30px;
    text-align: center;
}

.chart-container h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.chart-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}